
# Outputs
output*/*
generatedDatasets/*
*metadata

# Artifacts
artifacts/*

# Python cache
**/__pycache__/*

# Environments
pyspark-env/*

# Test files
test*

# Saved models
*_SUCCESS*
*part-000*

# Virtual Machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*hs_err_pid*

# MLFlow Runs
mlruns*