
# Outputs
output*/*
generatedDatasets/*
df_tmp/*
*metadata
temp_models/*

# Logs
logs*

# Artifacts
artifacts/*

# Python cache
**/__pycache__/*

# Environments
pyspark-env/*

# Test files
test*

# Background Work replication
datasets/dataset_1_original.log
background_work_replication.py

# Saved models
*_SUCCESS*
*part-000*

# Virtual Machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
*hs_err_pid*

# MLFlow Runs
mlruns*